<form action='/cool_url' method='get'>
  <input type='text' name='gr_user_input'>
  <input type='submit' value='gr_submit'>
</form>

<form action='/cool_url/huh' method='get'>
  <input type='text' name='gr_user_input'>
  <input type='submit' value='gr_submit'>
</form>


<form action='/cool_url' method='post'>
  <input type='text' name='pr_user_input'>
  <input type='submit' value='pr_submit'>
</form>